build/
coverage/
temp/
docs/
doc/
examples/
src/
test/
.aoneci.yml
.editorconfig
.eslintignore
.eslintrc
.gitignore
.npmignore
.prettierrc
api-extractor.json
jest.config.js
lerna.json
rollup.config.js
rollup.miniprogram.plugin.js
tsconfig.json
typedoc.json
*.log
*.info
*.ts
!*.d.ts