{
  "semi": true,
  "tabWidth": 2,
  "bracketSpacing": false,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "printWidth": 130,
  "requirePragma": false
}
